<div class="container has-background-info-light">
  <div class="columns">
    <div class="column"><%= link_to sanitize("&larr; Back to characters"), characters_path %></div>
  </div>

  <div class="content">
    <p>Name: <%= @character.name %></p>
    <p>Status: <%= @character.present_status %></p>
    <p>Gender: <%= @character.gender_identity %></p>
    <p>Birthday: <%= I18n.t(@character.date_of_birth, format: :as_date) %></p>
    <% if @character.deceased? %>
      <p>Birthday: <%= I18n.t(@character.deceased_at, format: :as_date) %></p>
    <% end %>
  </div>
</div>
